name: build_and_test

on:
  push:
    branches:
      - main
      - master
    tags:
      - "*"
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: "setup.cfg"

      - name: Update pip/wheel infrastructure
        run: |
          python -m pip install --upgrade pip
          pip install wheel

      - name: Install pytest packages
        run: pip install pytest

      - name: List installed packages
        run: pip list -v

      - name: Build and install
        run: pip install -v -e .

      - name: Run tests
        run: |
          pytest test_pal.py
